---
layout: default
body_class: post-template
---
{% include header.html %}

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      {% for post in paginator.posts %}
      <article role="main" class="{%comment%}post_class{%endcomment%}">

          <header>
              <h1>{{ post.title }}</h1> 
              
          </header>

          <div class="text">
              {{ post.content }}
<!--               <small>
              {% for tag in post.tags %}
                {{ tag }}
              {% endfor %}
            </small> -->
          </div>

      </article>
      <hr>
      {% endfor %}

    </div>
  </div>
</div>

{% include pagination.html %}

{% include footer.html %}
