<header role="banner">
  <article role="main">

    <h1>
      <span class="site-title"><a href="/">HI</a>. I'M {{ site.title }}</span>
    </h1>

    <div id="user_bio" style="margin:20px 0;font-size:16px;line-height:24px">
        <div class="inner">
          <p>{{ site.description }}</p>  
          <p>Inquiries: <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p> 
        </div>
    </div>
     <!--
    <hr>
   
      <nav class="site-nav">
      <div class="trigger">
      {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% endfor %}
      </div>
      </nav>
    -->

  </article>
</header>
